.text-section{
	width: 75%;
}


section:nth-child(1){
	background-image: url("bg/hotel.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 40vmin;
}

section#intro_about{
	background-color: #4A306D;
	min-height: 35vmin;
}

section#links{
	background-color: #111111;
	min-height: 10vmin;
}

section#faq{
	background-color: #EAE7DE;
	color: #111111;
	min-height: 40vmin;
}

section:last-child{
	min-height: 40vmin;
}