
section:nth-child(1){
	background-image: url("kitchen.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

section:nth-child(2){
	background-color: #EAE7DE;
	color: #222222;
	min-height: 50vmin;
}

section:nth-child(2)>div{
	width: 90%;
	position: absolute;
	left: 7%;
	margin-top: 5%; 
}

section:nth-child(3){
	background-color: #111111;
	min-height: 10vmin;
}

section:nth-child(4){
	background-image: url("kitchen.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 75vmin;
}

section:last-child{
	min-height: 40vmin;
}
