
section:nth-child(1){
	background-image: url("bg/kitchen.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 40vmin;
}

section#intro{
	background-color: #EAE7DE;
	color: #111111;
	min-height: 50vmin;
}

section#padding{
	background-color: #111111;
	min-height: 10vmin;
}

section#doors{
	background-image: url("bg/purplesky.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 600px;
	position: relative;
}

section#updates{
	background-color: #4A306D;
	min-height: 45vmin;
}

section:last-child{
	min-height: 40vmin;
}