*{
	color: #111111;
}

div.inktober{
	position: relative;
	width: 60%;
	height: auto;
	background: #EAE7DE;
	border-radius: 15px;
}

.inktober-button{
	color: #111111;
}
.inktober-button>img{
	width: 16px;
	fill: #111111;
}