
section#head{
	min-height: 5vmin;
	font-size: 18px;
}

section#main{
	background-image: url("bg/purplesky.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;

	min-height: 85vmin;

	color: #111111;
}

section#projects{
	min-height: 35vmin;
}

section#divider{
	min-height: 5vmin;
	background-color: #EAE7DE;
}

section#contact{
	min-height: 20vmin;
}