
section:nth-child(1){
	background-image: url("bg/library.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

section:nth-child(2){
	min-height: 50vmin;
}

section:nth-child(3){
	background-color: #EAE7DE;
	color: #111111;
	min-height: 60vmin;
}

section:nth-child(4){
	background-color: #2F3136;
	min-height: 60vmin;
}

section:nth-child(5){
	background-image: url("../projects/inktober/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color: #222222;
	min-height: 60vmin;
}

section:last-child{
	min-height: 40vmin;
}