/*  PALETTE

	white - #EAE7DE
	purple - #4A306D
	lighter purple - #865289
	some other purple - #644E84
	orange - #D3931B
*/

.debug{
	border: solid 1px red;
}

@font-face{
	font-family: "font";
	src: url(fonts/Arvo-Regular.ttf);
}
@font-face{
	font-family: "monkey";
	src: url(fonts/MonkeyIsland-1990.ttf);
}
@font-face{
	font-family: "men";
	src: url(fonts/manlymenbb_bold.ttf);
}
@font-face{
	font-family: "sweatshirtfont";
	src: url(fonts/LucidaBlackletterRegular.ttf);
}


*{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	cursor: crosshair;
}

*::selection{
	color: #111111;
	background-color: #D3931B;
}

body{
	font-family: "font";
	font-size: 24px;

	background-color: #111111;
	color: #EAE7DE;
}

a{
	color: #D3931B;
}

a:hover{
	color: #111111;
	background-color: #D3931B;
	text-decoration: none;
}

section{
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.nav{
	position: fixed;
	top: 0;
	width: 100vw;
	background: #111111;
	padding: 15px;
}
/*unfinished*/

.intro{
	position: absolute;
	text-align: center;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.monkey{
	font-family: monkey;
}
.menfont{
	font-family: men;
}
.earlfont{
	font-family: sweatshirtfont;
}

.goback{
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.text-section{
	padding-top: 45px;
	padding-left: 45px;
	width: 55%;
	padding-bottom: 75px;
	position: relative;
}

.link-section{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	bottom: 10px;
	max-width: 100%;
}
.link-section>a{
	margin: 0px 20px 0px 20px;
	padding: 5px 10px 5px 10px; 
	border: solid 5px #111111;
	border-radius: 5px;
	background-color: #D3931B;
	color: #111111;
}
.link-section>a:hover{
	color: #D3931B;
	background-color: #111111;
}

.sec-img{
	position: absolute;
	right: 40px;
	top: 40px;
	max-width: 30%;
	max-height: 80%;
	border: solid 5px #111111;
	border-radius: 5px;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.door{
	width: 350px;
	border: solid #EAE7DE 7px;
	border-radius: 7px;
}
.flex>a:hover{
	background-color: transparent;
}

.contact{
	font-size: 18px;
}

.icons{
	position: absolute;
	font-size: 50px;
	right: 2.5%;
	bottom: 7.5%;
}
.icons>a>img{
	height: 40px;
	padding: 0px 10px 0px 10px;
}

.icons>a:hover{
	background-color: transparent;
}

/*/////////////////////*/

