/**PALETTE**/
:root{
	--main-white: #EAE7DE;
	--main-black: #111111;
	--selection-purple: #BF94CF;
	--purple: #694E7C;
}

.debug{
	border: solid 1px red;
}

@font-face{
	font-family: "standard";
	src: url(fonts/TruenoLt.otf);
}

@font-face{
	font-family: "earl";
	src: url("fonts/LucidaBlackletterRegular.ttf");
}

*{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	cursor: crosshair;
}

*::selection{
	color: var(--main-black);
	background-color: var(--selection-purple);
}

body{
	font-family: "standard";
	font-size: 18px;

	background-color: var(--main-black);
	color: var(--main-white);

	/*this little bit makes text not change on mobile*/
	text-size-adjust: none;
  	-webkit-text-size-adjust: none;
  	-moz-text-size-adjust: none;
  	-ms-text-size-adjust: none;
}

a{
	color: var(--purple);
	text-decoration: none;
}

a:hover{
	color: var(--main-black);
	background-color: var(--purple);
	text-decoration: none;
}

section{
	width: 100%;
	min-height: 100vh;
	position: relative;
}

hr{
	width: 40%;
	border-top: 3px solid var(--main-white);
}

.clock{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	width: 300px;
}

.time{
	position: absolute;
	float: left;
}

.days{
	float: right;
}


.verticalalign{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.intro{
	position: absolute;
	left: 5%;
}
.intro>h1{
	font-size: 64px;
}
.intro>p{
	font-size: 36px;
}

.introimg{
}
.introimg>img{
	max-height: 400px;
}

p.title{
	margin: 1.5% 0 5px 2.5%;
	font-size: 32px;
}

p.subtitle{
	margin: 1.5% 0 5px 2.5%;
	font-size: 24px;
}

div.projectmenu{
	margin: 0 0 0 5%;
	max-width: 50vw;
}

div.projectmenu>a{
	color: var(--main-white);
	font-size: 22px;
	margin: 10px 0 10px 0;
}

div.projectmenu>a:hover{
	background-color: transparent;
	text-decoration: underline;
}

div.projectlist{
	display: none;
	margin: 0 0 0 5%;
}

div.projectlist>a{
	color: var(--main-white);
	font-size: 20px;
	margin: 10px 0 10px 0;
}

div.projectlist>a:hover{
	background-color: transparent;
	text-decoration: underline;
}

div.projectinfo{
	display: none;
	margin: 22px 0 22px 15%;
	border: solid 3px var(--main-white);
	width: 50vw;
}

div.projectinfo>center>hr{
	width: 80%;
}

div.projectinfo>center>img{
	max-width: 80%;
	height: auto;
}

.pdescription{
	text-align: left;
	width: 80%;
	font-size: 22px;
}

.plinks{
	font-size: 22px;
}

.plinks>a{
	margin: 0 15px 0 15px;
}

div.contactinfo{
	margin-left: 2.5%;
}

div.icons{
	font-size: 32px;
}

div.icons>a:hover{
	background-color: transparent;
}

img.icon{
	max-width: 28px;
	padding: 0 2px 0 6px;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

div.gallery{
	width: 85vw;
	/*display: none;*/
	margin: 0 0 0 5%;
	font-size: 20px;
	color: var(--main-white);
}

div.gallery>a{
	text-decoration: none;
}

div.gallery>a>img{
	max-width: 300px;
	height: auto;
	border: 3px solid var(--main-white);
	margin: 7px 7px 7px 7px;
}

div.gallery>a>p{
	max-width: 300px;
	color: var(--main-white);
	font-size: 22px;
}

div.tableofcontents{
	font-size: 24px;
}

div.tableofcontents>center>a{
	color: var(--main-white);
	text-decoration: underline;
	margin: 0px 10px 0px 10px;
}

div.tableofcontents>center>a:hover{
	color: var(--main-black);
	background-color: var(--purple);
	text-decoration: none;
}
/*/////////////////////*/

