/*  PALETTE

	white - #EAE7DE
	purple - #4A306D
	lighter purple - #865289
*/
@font-face{
	font-family: "font";
	src: url(fonts/Bitter-Regular.otf);
}
@font-face{
	font-family: "monkey";
	src: url(fonts/MonkeyIsland-1990.ttf);
}


*{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html{
	cursor: crosshair;
}

body{
	font-family: "font";
	font-size: 24px;

	background-color: #111111;
	color: #EAE7DE;
}

.intro{
	position: absolute;
	text-align: center;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.monkey{
	font-family: monkey;
}

.meintro{
	float: right;
}

/*/////////////////////*/

section{
	width: 100%;
	min-height: 100vh;
}