/*  PALETTE

	white - #EAE7DE
	purple - #4A306D
	lighter purple - #865289
	some other purple - #644E84
	orange - #D3931B
*/
@font-face{
	font-family: "font";
	src: url(fonts/Bitter-Regular.otf);
}
@font-face{
	font-family: "monkey";
	src: url(fonts/MonkeyIsland-1990.ttf);
}


*{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
	cursor: crosshair;
}

*::selection{
	color: #111111;
	background-color: #D3931B;
}

body{
	font-family: "font";
	font-size: 24px;

	background-color: #111111;
	color: #EAE7DE;
}

a{
	color: #D3931B;
}

a:hover{
	color: #111111;
	background-color: #D3931B;
	text-decoration: none;
}

section{
	width: 100%;
	min-height: 100vh;
}

.intro{
	position: absolute;
	text-align: center;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.monkey{
	font-family: monkey;
}

.text-section{
	width: 90%;
	position: absolute;
	left: 7%;
	margin-top: 5%; 
}

.card1>img, .card2>img{
	display: inline-block;
	position: absolute;
	max-height: 75%;
	top: calc(25%/2);
	border: solid #EAE7DE 7px;
}

.card1>img{
	left: 17%;
}
.card2>img{
	right: 17%;
}

.contact>p{
	font-size: 18px;
}

.icons-set{
	position: absolute;
	right: 10px;
	bottom: 5%;
}

.icons{
	display: inline-block;
	width: 25vmin;
	font-size: 18px;
	padding-left: 10px;
}

.icon{
	position: relative;
	background-color: #D3931B;
	padding: 5px 0px 2px 10px;
	border-radius: 3px;
}

a>div.icon{
	color: #EAE7DE;
	text-decoration: none;
}

.icon>img{
	display: inline-block;
	height: 35px;
}

.icon>span{
	position: absolute;
	right: 10px;
	top: 50%;
}

/*/////////////////////*/

