body{    
    background-image: url("bg/city.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

center.center{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    
    border: dashed 2px var(--main-white);
    background-color: var(--st2-black);
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

hr{
    border-top: solid 1px var(--main-white);
    width: 75%;
}

@media only screen and (orientation: portrait){
    center.center{
        width: 95%;
    }
}