
*{
    color: var(--purple);
    text-decoration: none;

    font-family: "ms gothic";
}

body{
    background-image: url("bg/purplesky.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.skies{
    position: relative;

    background-color: var(--main-black);

    width: 85%;
    height: 75vmin;
}

.low{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    padding: 20px;
    font-size: 62px;
    font-weight: 500;
}

h3{
    font-size: 32px;
}

pre{
    font-size: 8px;
    font-weight: 200;
    font-size: 0.65vw;
}