
body{    
    background-image: url("bg/purplesky.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.mainintro{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 75px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainintro h1{
    font-size: min(3vw, 60px);
}

.mainintro p{
    font-size: min(1.75vw, 30px);
}

.mainintro pre{
    font-size: min(1.25vw, 19px);
}

.introtext{
    width: 55%;
}

.ver{
    font-size: 18px;
    font-weight: 300;
}


@media only screen and (orientation: portrait){
    .mainintro{
        top: 43%;
        justify-content: space-between;
        flex-direction: column;
    }

    .mainintro h1{
        font-size: 64px;
    }
    
    .mainintro p{
        font-size: 36px;
    }

    .mainintro pre{
        font-size: 20px;
    }

    .introtext{
        width: inherit;
    }
}
