@font-face{
	font-family: "TitilliumWeb";
	src: url("titilliumweb/TitilliumWeb-Light.ttf")
}

body{
	background-color: #222222;
	color: #eeeeee;
	font-family: "TitilliumWeb";
}

a{
	color: #ffff80;
}

button{
	background-color: #ffff80;
	color: #222222;
	border: none;
  	padding: 7px 15px;
  	margin: 5px 3px;
}

#container{
	width: 200px;
  	height: 200px;
  	background: #ffff80;
  	position: relative;
}

#box{
	width: 50px;
  	height: 50px;
  	background: #ffb4d5;
  	position: absolute;
}